* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  position: relative;
  border: 10px solid black;
  border-radius: 25px;
  width: 270px;
  height: 554px;
}

.card {
  color: white;
  text-align: center;
  position: absolute;
  height: 554px;
  width: 270px;
  background-color: rgb(19, 20, 21);
  border-radius: 15px;
}

.game-board-container {
  /* css grid */
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 50px 50px 50px 50px;
  /* Other css */
  margin-left: 11%;
  width: 200px;
  height: 200px;
}
/* Adds class select */
.select {
  background-color: red;
}
/* Removes class Deselect on second click */
.deselect {
  background-color: rgb(19, 20, 21);
}

.grid-item {
  padding: 1em;
  border: 2px solid rgb(28, 40, 54, 0.8);
}
