* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  overflow: hidden;
}

#close{
  cursor: pointer;
  text-align: right;
  padding-right: 10px;
  margin: 0;
}

.blur-bg{
  position: fixed;
  z-index: 3;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  height: 350px;
  width: 235px;
}

.instructions-detail {
  color: black;
  position: fixed;
  z-index: 4;
  left: 53px;
  top: 187px;
  background-color: beige;
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

.iphone-container {
  position: relative;
  border: 10px solid black;
  border-radius: 25px;
  width: 270px;
  height: 554px;
}

/* iphone screen */
.iphone-bg {
  color: white;
  text-align: center;
  position: absolute;
  height: 554px;
  width: 270px;
  background-color: rgb(19, 20, 21);
  border-radius: 15px;
}
.game-board-container{
    margin-left: 11%;
    width: 200px;
    height: 200px;
}
.grid-row-wrapper {
  display: grid;
  width: 215px;
  grid-gap: 5px;
  margin-bottom: 5px;
  grid-template-columns: 50px 50px 50px 50px;
}
/* Adds class select */
.select {
  background-color: green;
}
.border{
  border: 3px solid red;
}

/* Hides scrollbar while keeping functionallity */
.levelSelectList::-webkit-scrollbar {
  display: none;
} 

/* Level Select list styling */
.levelSelectList {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 185px; 
  height: 310px;
  padding-top: 35px;
  display: block;
  list-style: none;
}
/* Level list item styles */
.levelSelectList li {
  font-family: monospace;
  font-weight: bold;
}


.levelSelectWrapperBg {
  position: relative;
  height: 350px;
  background-color: rgb(50, 60, 76);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#line{
position: absolute;
border-radius: 5px;
border-left: 1px;
width: 10px;
height: 350px;
background: rgb(29, 42, 58); ;
}

#trapazoid{
  z-index: 1;
  position: absolute; 
  width: 100%;
  max-width: 143px;
  border-radius: 5px;
  border-top: 35px solid rgb(29, 42, 58); 
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}

.landing-page-container h4{
  position: fixed;
  z-index: 2;
  left: 104px;
  top: 85px;
}

.levelSelectList div:hover {
  cursor: pointer;
  background-color: brown;
}

.level-card {
  padding: 1em;
  margin-top: 10%;
  margin-right: 2em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  background-color: rgb(22, 28, 60);
}

/* Game borad page styling */
/* Each gameboard square styling */
.grid-item {
  cursor: pointer;
  padding: 1em;
  border: 2px solid rgb(28, 40, 54, 0.8);
}

/* Empty divs/ */
.blocker{
  background-color: rgb(29, 42, 58);
}

ol.question {
  padding-right: 40px;
}